body {
  background-color: lightblue;
}


#nombre {
  text-align: center;
  background-color: white;
}

.fotoperfil {
  border-radius: 50px;
  box-shadow: 15px 15px 13px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: 15px 15px 13px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 15px 15px 13px 0px rgba(0,0,0,0.45);
}