 <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">usuario</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">password</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
    </div>

    <button type="submit" class="btn btn-primary btn-sm">ingresar</button>
