    <main class="holder">
        <div>
            <img src="/images/home/img01.jpg" alt="avion">
        </div>
        <div class="columnas">
            <section class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Minus earum nam sed maxime nostrum? Dolorum eaque delectus nihil
                    doloribus quisquam repellendus, asperiores, facilis aliquid,
                    tempora placeat possimus dignissimos hic similique?</p>
            </section>
            <section class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente Excelente</span>
                    <span class="autor">Juan Gomez - zapatos.com</span>
                </div>
            </section>
        </div>
    </main>