<main class="holder">
        <div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Fugiat molestias ducimus impedit, distinctio odit
                quam vel iure eos quis suscipit veritatis iusto numquam voluptatem
                necessitatibus nostrum voluptatibus doloremque cumque repellat.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Ullam sed reiciendis illo nesciunt hic modi reprehenderit veritatis
                tenetur deleniti recusandae eius repudiandae in commodi, blanditiis quis.
                Omnis fugiat repellat quis.</p>
        </div>
        <div class="staff">
            <h2>staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatum delectus culpa similique animi laborum maiores provident praesentium sunt,
                        molestiae quae? Doloribus aperiam dolore a non at enim animi quaerat sed!</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Logística</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Voluptatem eius architecto ducimus animi eligendi reiciendis tempora molestias ipsum!
                        Incidunt rerum nemo, iure minima modi similique nobis fuga earum suscipit dignissimos.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Logística</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Voluptatem eius architecto ducimus animi eligendi reiciendis tempora molestias ipsum!
                        Incidunt rerum nemo, iure minima modi similique nobis fuga earum suscipit dignissimos.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Logística</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Voluptatem eius architecto ducimus animi eligendi reiciendis tempora molestias ipsum!
                        Incidunt rerum nemo, iure minima modi similique nobis fuga earum suscipit dignissimos.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Logística</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Voluptatem eius architecto ducimus animi eligendi reiciendis tempora molestias ipsum!
                        Incidunt rerum nemo, iure minima modi similique nobis fuga earum suscipit dignissimos.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Logística</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Voluptatem eius architecto ducimus animi eligendi reiciendis tempora molestias ipsum!
                        Incidunt rerum nemo, iure minima modi similique nobis fuga earum suscipit dignissimos.</p>
                </div>
            </div>
        </div>
    </main>