<main class="holder">
        <h2>Novedades</h2>
        <div class="novedades">
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Ut autem enim fugit error unde soluta voluptate ullam eius iusto earum,
                aperiam odio, iure possimus explicabo saepe quam minima! Ipsa, officia.</p>
            <hr>
        </div>
    </main>
