<main class="holder">
        <h2>Servicios</h2>
        <div class="servicio">
            <img src="images/servicios/ferroviario.jpg" alt="tren">
            <div class="info">
                <h4>Transporte Ferroviario</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Hic, quia harum. Quaerat, impedit quidem! Voluptatem provident
                    quo doloremque quas assumenda sunt aperiam eligendi. Perferendis
                    corporis illo pariatur placeat, ea dolorum!</p>
            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/maritimo.jpg" alt="barco">
            <div class="info">
                <h4>Transporte Marítimo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Hic, quia harum. Quaerat, impedit quidem! Voluptatem provident
                    quo doloremque quas assumenda sunt aperiam eligendi. Perferendis
                    corporis illo pariatur placeat, ea dolorum!</p>
            </div>
        </div>

            <div class="servicio">
                <img src="images/servicios/aereo.jpg" alt="avion">
                <div class="info">
                    <h4>Transporte Aereo</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Hic, quia harum. Quaerat, impedit quidem! Voluptatem provident
                        quo doloremque quas assumenda sunt aperiam eligendi. Perferendis
                        corporis illo pariatur placeat, ea dolorum!</p>
                </div>
            </div>
    </main>